

@media   screen and (max-width:768px){
  form {width: 300px;}
}
@media   screen and  (max-width:768px){
  .containerTextForms h2.textForms   {font-size: 11px;}
  }
  @media   screen and  (max-width:768px){
   .containerInput input  {font-size: 13px;}
    }
   form {
     display: inline-block;
     background:rgba(24,24,24,0.3);
     border-radius: 17px;
     border-color: #838383;
     position: relative;
     border-width: 1px;
    padding: 10px;
   }
   
   h1 {
     font-weight: 100;
     color: white;
     text-align: center;
     padding-bottom: 10px;
     border-bottom: 1px solid rgb(35, 11, 122);
   }
   
   
   p.formsP {
     color: #bf1650;
   }
   
   p.formsP::before {
     display: inline;
     content: "⚠ ";
   }
   .containerInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   input {
     display: block;
     height: 50px;
     font-size: 15px;
     line-height: 15px;
     padding:16px 16px;
     margin:10px;
     width: 80%;
     border-style: solid;
     border-width: 1px;
     border-color: #bbbbbb;
     border-radius:4px;
   }
  
   
   .containerTextForms {  
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
    
   }
   h2.textForms{
    color: aliceblue;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 25px;
   }
   h3.textForms{
    color: #19bc8b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    line-height: 35px;
    
   }
  
   
  
   
   select{
    display: block;
    height: 50px;
    font-size: 15px;
    line-height: 15px;
    padding:16px 16px;
    margin:10px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    border-radius:4px;
   }
   
  .containerButtonForm{
    width:100%;
  padding:20px;
  }
  
  
  form .raise{
    background-color: #19bc8b;
    color:aliceblue;
    border: 2px solid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
    border-radius: 10px;
  }